.plus{
    position: fixed;
    top: 80%;
    font-size: 4rem;
    color: rgb(46, 124, 49);;
    right: 5%;
    cursor: pointer;
    background-color: #ffff;
    border-radius: 50%;
}
h2{
    width: 90%;
    margin: 20px auto !important;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media screen and  (max-width:600px) {
    .plus{
        font-size: 3rem;
    }     
}
.box{
    min-height: 40vh;

}
h1{
    text-align: center;
    background-color: rgb(46, 124, 49);;
    color: #fff;
    padding: 10px;
}