.plus{
    position: fixed;
    top: 80%;
    font-size: 4rem;
    color: rgb(46, 124, 49);;
    right: 5%;
    cursor: pointer;
    background-color: #ffff;
    border-radius: 50%;
}
h2{
    position: relative;
    width: 90%;
    margin: 20px auto !important;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;    
}
@media screen and  (max-width:600px) {
    .plus{
        font-size: 3rem;
    }     
}
.box{
    min-height: 40vh;

}
h1{
    text-align: center;
    background-color: rgb(46, 124, 49);
    color: #fff;
    padding: 10px;
    user-select: none;
}
.line{
    position: absolute;
    background-color: rgb(46, 124, 49);
    height: 2.5px;
    width: 170px;
    display: block;
    bottom: -10;
    left: 8%;
    transform: translateX(-50%) scaleX(.6);
    border-radius: 20%;
    transition: .5s;
}
h2:hover .line{
    transform: scaleX(1) translateX(-50%);
} 